<!-- Пример использования в шаблоне -->
{% load menu_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пример</title>
</head>
<body>
    <div class="header">
        {% draw_menu 'performance' %}
    </div>
    <div class="content">
        <h1>Драма, как жанр литературы и искусства, фокусируется на <br>
            взаимоотношениях персонажей, их поступках и столкновениях.</h1>
    </div>
    <div class="header">
        {% draw_menu 'additional_menu' %}
    </div>
</body>
</html>
