<!-- Пример использования в шаблоне -->
{% load menu_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пример</title>
</head>
<body>
    <div class="header">
        {% draw_menu 'performance' %}
    </div>
    <div class="content">
        <h1>Телешоу - это сценическое зрелище с участием выдающихся актёров эстрады, <br>
            балета, цирка и т.п., транслируемое по телевидению.</h1>
    </div>
    <div class="header">
        {% draw_menu 'additional_menu' %}
    </div>
</body>
</html>
